<div class="col-lg-4 col-sm-6">
    <a href="###URL###" class="portfolio-box">
        <img src="###IMAGEURL###" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    ###TITLE###
                </div>
                <div class="project-name">
                    ###TITLE###
                </div>
            </div>
        </div>
    </a>
</div>
