<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/site.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Awesome Landing Builder</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="awesome-builder">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h4>{{title}}</h4>
            <ul class="nav nav-sidebar">
                <li>
                    <button type="button" class="btn btn-default">Preview</button>
                </li>
                <!--<li class="active"><a href="#">Overview </a></li>-->
            </ul>

            <h4>Sections</h4>
            <ul class="nav nav-sidebar">
                <li v-repeat="s in sections"><a href="">{{sectionName(s)}}</a></li>

                <li>
                    <button
                            type="button"
                            class="btn btn-success"
                            v-on="click:addSection"
                    >Add section
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul v-if="sectionsExists">
                <li v-repeat="s in sections" v-transition="expand">

                    <heading
                            s="{{@ s.meta}}"
                            v-if="s.type == 'heading'"
                    ></heading>

                    <gallery
                            s="{{@ s.meta}}"
                            v-if="s.type == 'gallery'"
                    ></gallery>

                    <services
                            s="{{@ s.meta}}"
                            v-if="s.type == 'services'"
                    ></services>

                    <contacts
                            s="{{@ s.meta}}"
                            v-if="s.type == 'contacts'"
                    ></contacts>

                </li>
            </ul>

        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../js/build.js"></script>
</body>
</html>
