<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">
                    <label>Heading</label>
                    <input v-model="s.heading"/>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" v-repeat="serv in s.services">
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <label>Icon</label>
                    <input v-model="serv.icon"/>
                    <h3>
                        <label>Title</label>
                        <input v-model="serv.title"/>
                    </h3>
                    <p class="text-muted">
                        <label>Description</label>
                        <input v-model="serv.description"/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
